* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  overflow: hidden;
}

.header-wrap {
  background: linear-gradient(0deg, rgba(26, 26, 26, 0.9), rgba(0, 0, 0, 0.6)),
    url(./bg006.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  justify-content: center;
  align-items: center;

  color: white;
}
header h2 {
  padding: 1rem;
  font-size: 2rem;
}

.search-form {
  padding-top: 1rem;
  display: flex;
  min-width: 35%;
}
.search-form input {
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  color: rgba(0, 110, 147, 1);
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}
.search-form button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: linear-gradient(0deg, rgba(0, 110, 147, 1), rgba(2, 212, 211, 1));
  color: white;
  cursor: pointer;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}
.category {
  margin-top: 2rem;
}
.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(248, 248, 248);
  padding: 0.5rem;
  font-size: 0.8rem;
}
.gallery-info a {
  color: grey;
  text-decoration: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0rem;
  width: 90%;
  margin: auto;
  row-gap: 5rem;
  column-gap: 3rem;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more {
  padding: 1rem 3rem;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  background: linear-gradient(0deg, rgba(0, 110, 147, 1), rgba(2, 212, 211, 1));

  border-radius: 0.5rem;
}

.suggestions {
  font-size: 1rem;
}

.suggestions button {
  background: none;
  cursor: pointer;
  color: white;
  border: none;

  padding: 1rem 0.6rem;
}
.suggestions button:hover {
  background: white;

  color: rgba(0, 110, 147, 1);
}

.topic {
  width: 20%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.topic-main {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.5rem;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.category h1 {
  color: #02d4d3;
}
.category p {
  color: #3d3d3d;
}

.topic-main img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.topic-name {
  color: #949494;
}
.topic-thumbs {
  display: flex;
}
.thumb {
  width: 35%;
  height: 15rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.5rem;
}
.thumb img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.gallery1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1200px) {
  .gallery1 {
    flex-direction: column;
  }
  .topic {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  header p {
    width: 90%;
    text-align: center;
    padding-bottom: 3rem;
  }
  header h2 {
    width: 90%;
    text-align: center;
  }

  .topic {
    width: 90%;
  }
}
